<template>
  <button
    class="px-6 py-3 font-2xl font-bold tracking-tight rounded-lg bg-pink-700 text-white hover:bg-pink-800 active:bg-pink-800 transition-colors duration-300 active:bg-pink-400"
  >{{text}}</button>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'EButton',
  props: {
    text: {
      type: String,
      default: 'button'
    }
  }
})
</script>
