<template>
  <label>
    <span>Hallo</span>
    <input type="text">
  </label>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'EInput'
})
</script>
